<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.chargingPileSystem.mapper.ChargingPileRecordMapper">
    <insert id="insertChargingPileRecord">
        insert into sys_charging_pile_record(charging_record_id,charging_pile_id, up_time, user_openid,  charging_time,
                                             charging_form, gate_status, single_energy,order_status)
        values (#{chargingRecordId},#{chargingPileId}, #{upTime}, #{userOpenid}, #{chargingTime}, #{chargingForm},
                #{gateStatus}, #{singleEnergy}, #{orderStatus})
    </insert>

    <update id="updateChargingPileRecord">
        update sys_charging_pile_record
        <trim prefix="set" suffixOverrides="," suffix="where charging_record_id = #{chargingRecordId}">
            up_time= #{upTime},
            down_time= #{downTime},
            <if test="userOpenid!='-1'">user_openid= #{userOpenid},</if>
            <if test="chargingTime != -1">charging_time= #{chargingTime},</if>
            <if test="chargingForm!= -1">charging_form= #{chargingForm},</if>
            <if test="gateStatus != -1">gate_status= #{gateStatus},</if>
            <if test="singleEnergy != '-1'">single_energy= #{singleEnergy},</if>
        </trim>
    </update>
    <update id="updateOrderStatus">
        update sys_charging_pile_record
           set order_status= #{orderStatus}
        where charging_record_id = #{chargingRecordId}
    </update>

    <select id="queryLastRecord" resultType="com.example.chargingPileSystem.domain.ChargingPileRecord">
        select *
        from sys_charging_pile_record
        where charging_pile_id = #{chargingPileId}
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="queryRecordIdByOpenId" resultType="java.lang.String">
        select charging_record_id
        from sys_charging_pile_record
        where user_openid = #{userOpenid}
    </select>

    <select id="queryRecordByOutTradeNo" resultType="com.example.chargingPileSystem.domain.ChargingPileRecord">
        select *
        from sys_charging_pile_record
        where out_trade_no = #{outTradeNo}
    </select>

    <delete id="deleteChargingPileInfo">
        delete from sys_charging_pile_record
        where charging_pile_id = #{chargingPileId}
    </delete>


    <select id="queryUpTime" resultType="java.lang.String">
        select up_time
        from sys_charging_pile_record
        where charging_pile_id = #{chargingPileId}
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="queryStage" resultType="java.lang.Integer">
        select stage
        from sys_charging_pile_record
        where charging_pile_id = #{chargingPileId}
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="queryOrderStatus" resultType="java.lang.Integer">
        select order_status
        from sys_charging_pile_record
        where charging_pile_id = #{chargingPileId}
        ORDER BY id DESC LIMIT 1
    </select>


</mapper>