<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.chargingPileSystem.mapper.ChargingPileInfoMapper">
    <insert id="insertChargingPile">
        insert into sys_charging_pile_info(charging_pile_id)
        values (#{chargingPileId})
    </insert>

    <update id="updateStatus">
        update sys_charging_pile_info
        set status = #{status}
        where id = #{id}
    </update>
    <update id="updateChargingPile">
        update sys_charging_pile_info
        <trim prefix="set" suffixOverrides="," suffix="where charging_pile_id = #{chargingPileId}">
            <if test="voltage!='-1'">voltage= #{voltage},</if>
            <if test="current!='-1'">current= #{current},</if>
            <if test="power!='-1'">power= #{power},</if>
            <if test="accumulatedElectricEnergy!='-1'">accumulated_electric_energy=#{accumulatedElectricEnergy},</if>
            <if test="error != -1">error= #{error},</if>
            <if test="appointmentTime!='-1'">appointment_time= #{appointmentTime},</if>
            <if test="equipmentTemperature != -1">equipment_temperature= #{equipmentTemperature},</if>
            <if test="status != -1">status= #{status},</if>
            <if test="stage != '-1'">stage= #{stage},</if>
            <if test="!bleName.equals('-1')">ble_name= #{bleName},</if>
        </trim>
    </update>
    <select id="queryChargingPileList" resultType="com.example.chargingPileSystem.domain.ChargingPileInfo">
        select *
        from sys_charging_pile_info
    </select>
    <select id="queryId" resultType="java.lang.String">
        select id
        from sys_charging_pile_info
        where charging_pile_id = #{ChargingPileId}
    </select>
    <select id="queryStage" resultType="java.lang.String">
        select stage
        from sys_charging_pile_info
        where charging_pile_id = #{ChargingPileId}
    </select>
</mapper>