<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.chargingPileSystem.mapper.PaymentMapper">

    <insert id="insertPreOrder">
        INSERT INTO sys_payment_record (out_trade_no, user_openid, charging_pile_id, amount, status)
        VALUES (#{outTradeNo}, #{userOpenid}, #{chargingPileId},#{amount}, #{status})
    </insert>

    <update id="updateOrderStatus">
        UPDATE sys_payment_record SET  transaction_id = #{transactionId}, charging_record_id = #{chargingRecordId}, status = #{status} WHERE out_trade_no = #{outTradeNo}
    </update>
    <update id="updatePay" parameterType="com.example.chargingPileSystem.domain.PaymentOrder">
            UPDATE sys_payment_record
            <set>
                <if test="outTradeNo != null">
                    out_trade_no = #{outTradeNo},
                </if>
                <if test="userOpenid != null">
                    user_openid = #{userOpenid},
                </if>
                <if test="amount != null">
                    amount = #{amount},
                </if>
                <if test="chargingPileId != null">
                    charging_pile_id = #{chargingPileId},
                </if>
                <if test="transactionId != null">
                    transaction_id = #{transactionId},
                </if>
                <if test="chargingRecordId != null">
                    charging_record_id = #{chargingRecordId},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="refundAmount != null">
                    refund_amount = #{refundAmount},
                </if>
                <if test="outRefundNo != null">
                    out_refund_no = #{outRefundNo},
                </if>
            </set>
            WHERE out_trade_no = #{outTradeNo}
    </update>

    <select id="selectByOrderNo" resultType="com.example.chargingPileSystem.domain.PaymentOrder">
        SELECT * FROM sys_payment_record WHERE out_trade_no = #{outTradeNo}
    </select>
    <select id="queryLastRecord" resultType="com.example.chargingPileSystem.domain.PaymentOrder">
        select *
        from sys_payment_record
        where charging_pile_id = #{chargingPileId}
        ORDER BY out_trade_no DESC LIMIT 1
    </select>

</mapper>