<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.chargingPileSystem.mapper.PileRecordMapper">

    <select id="queryChargingPileState" resultType="com.example.chargingPileSystem.form.StateForm">
        select sys_charging_pile_record.up_time,
               sys_charging_pile_info.voltage,
               sys_charging_pile_info.current,
               sys_charging_pile_info.power,
               sys_charging_pile_record.stage
        from sys_charging_pile_info
            inner join sys_charging_pile_record
                on sys_charging_pile_info.charging_pile_id = sys_charging_pile_record.charging_pile_id
        where sys_charging_pile_record.charging_pile_id = #{ChargingPileId}
    </select>

    <select id="queryUpTime" resultType="java.lang.String">
        select up_time
        from sys_charging_pile_record
        where charging_pile_id = #{ChargingPileId}
    </select>
</mapper>