<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.chargingPileSystem.mapper.UserMapper">

    <insert id="register">
        insert into sys_user_info(user_name,charging_pile_id)
        values (#{userName},#{chargingPileId})
    </insert>

    <select id="queryUser" resultType="com.example.chargingPileSystem.domain.UserInfo">
        select charging_pile_id
        from sys_user_info where user_name = #{userName}
    </select>

    <select id="queryPile" resultType="com.example.chargingPileSystem.form.LoginForm">
        select sys_user_info.charging_pile_id,
               sys_charging_pile_info.ble_name
        from sys_user_info
        inner join sys_charging_pile_info
        on sys_user_info.charging_pile_id = sys_charging_pile_info.charging_pile_id
        where sys_user_info.user_name = #{userName}
    </select>

    <select id="queryUserOpenId" resultType="java.lang.String">
        select user_open_id from sys_user_info where charging_pile_id = #{chargingPileId}
    </select>
</mapper>